<div data-theme='c' class='frage4'>
	<div class='frage'><%= txt %></div>
	<div class='linkeBeschriftung' style='position:relative; float:left'><%= lTxt %></div>
	<div class='rechteBeschriftung' style='position:relative; float:right'><%= rTxt %></div>
	<div style='position:relative; float:none; clear:both'></div>
	<fieldset data-role='controlgroup' data-type='horizontal' style='text-align:center'>
		<input type='radio' id='_<%= kodierung%>1' name='_<%= kodierung %>' value='1' 
			<% if (ant == 1) print( 'checked="checked"' ) %>
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": new Date(), "antw": "1"});'
		/>
		<label for='_<%= kodierung %>1'>1</label>
		<input type='radio' id='_<%= kodierung%>2' name='_<%= kodierung %>' value='2' 
			<% if (ant == 2) print( 'checked="checked"' ) %>
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": new Date(), "antw": "2"});'
		/>
		<label for='_<%= kodierung %>2'>2</label>
		<input type='radio' id='_<%= kodierung%>3' name='_<%= kodierung %>' value='3' 
			<% if (ant == 3) print( 'checked="checked"' ) %>
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": new Date(), "antw": "3"});'
		/>
		<label for='_<%= kodierung %>3'>3</label>
		<input type='radio' id='_<%= kodierung%>4' name='_<%= kodierung %>' value='4' 
			<% if (ant == 4) print( 'checked="checked"' ) %>
			onClick='fb2.setzeAntwort({"kodierung": "<%= kodierung %>", "zeit": new Date(), "antw": "4"});'
		/>
		<label for='_<%= kodierung %>4'>4</label>
	</fieldset>
</div>
