<div class='Nachricht' data-theme='a' data-role='content' class='ui-content ui-body-a'><%= msg %></div>
<div data-theme='a' data-role='footer' data-position='fixed'>
	<div data-role='navbar' data-iconpos='left'>
		<ul>
			<% if (prev == null) %>
			<li><a href='#home' data-icon='home' >home</a></li>
			<% else { %>
			<li><a href='#f?<%= prev %>' data-icon='arrow-l' >zurück</a></li>
			<% } %>
			<li><a href='#<% print((next == null) ? 'S' : 'f?' + next) %>' data-icon='arrow-r' >weiter</a></li>
		</ul>
	</div>
</div>
