<div data-theme='c' data-role='content' class="ui-content ui-body-c">
	<div class='frage' data-value='<%= id %>'>
		<% if (heading != null) { print("<span class='fEinleitung'>"+heading+"</span>"); } %>
		<%= txt %>
	</div>

	<ul id='antwort' data-role='listview' data-inset='true'>
		<% _.each(bes, function(bd) { %>
			<li <% print((ant == bd[1]) ? 'class="ui-btn-active"': '') %> data-icon='false' >
				<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>'
					data-value='<% print(bd[1]); %>' class='mtAntwort' ><% print(bd[0]); %></a>
			</li>
		<% }); // _.each %>
	</ul>

</div>
<div data-theme='c' data-role='footer' data-position='fixed'>
	<div data-role='navbar' data-iconpos='left'>
		<ul>
			<% if (!prev || (prev == null)) %>
			<li><a href='#' data-icon='home' >home</a></li>
			<% else { %>
			<li><a href='#f?<%= prev %>' 
				data-icon='arrow-l' class='mtNav'>zurück</a></li>
			<% } %>
			<li><a href='#<% print((next == null) ? 'S' : 'f?' + next) %>' 
				data-icon='arrow-r' class='mtNav' >weiter</a></li>
		</ul>
	</div>
</div>
