<div data-theme='c' data-role='content' class="ui-content ui-body-c">
	<div class='frage' data-value='<%= id %>'>
		<% if (heading) { print("<span class='fEinleitung'>"+heading+"</span>"); } %>
		<%= txt %>
	</div>

	<ul id='antwort' data-role='listview' data-inset='true'>
		<li <% print((ant == 1) ? 'class="ui-btn-active"': '') %> data-icon='false' >
		<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>' 
			data-value='1' class='mtAntwort' >trifft überhaupt nicht zu</a></li>
		<li <% print((ant == 2) ? 'class="ui-btn-active"': '') %> data-icon='false' >
		<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>' 
			data-value='2' class='mtAntwort' >trifft eher nicht zu</a></li>
		<li <% print((ant == 3) ? 'class="ui-btn-active"': '') %> data-icon='false' >
		<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>' 
			data-value='3' class='mtAntwort' >teils teils</a></li>
		<li <% print((ant == 4) ? 'class="ui-btn-active"': '') %> data-icon='false' >
		<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>' 
			data-value='4' class='mtAntwort' >trifft eher zu</a></li>
		<li <% print((ant == 5) ? 'class="ui-btn-active"': '') %> data-icon='false' >
		<a href='#<% if (next == null) { print('S') } else { print('f?'+next) ;} %>' 
			data-value='5' class='mtAntwort' >trifft völlig zu</a></li>
	</ul>

</div>
<div data-theme='c' data-role='footer' data-position='fixed'>
	<div data-role='navbar' data-iconpos='left'>
		<ul>
			<% if (!prev || (prev == null)) %>
			<li><a href='#' data-icon='home' >home</a></li>
			<% else { %>
			<li><a href='#f?<%= prev %>' 
				data-icon='arrow-l' class='mtNav'>zurück</a></li>
			<% } %>
			<li><a href='#<% print((next == null) ? 'S' : 'f?' + next) %>' 
				data-icon='arrow-r' class='mtNav'>weiter</a></li>
		</ul>
	</div>
</div>
