<div data-theme='a' data-role='content' class='ui-content ui-body-a'>
	<!--
		Status: <%= status %>
		Version: <%= version %>
		Gerätename: <%= device %>
		Startdatum: <% print(tag.toGerman()); %>
	-->

	<fieldset>
		<label for="dev">Gerätename:</label>
		<input type="text" name="dev" id="dev" value="<%= device %>" />
	</fieldset>

	<fieldset>
		<label for="vpn">Kodierung der Versuchsperson:</label>
		<input type="text" name="vpn" id="vpn" value="<%= person %>" pattern="[0-9]{5}" />
	</fieldset>

	<fieldset>
		<input type='button' value='übertrage alle Daten' id='save0DataButton' name='sav'
			<% if(!navigator.onLine) { print("class='ui-disabled'"); } %>
		/>
	</fieldset>
</div> <!-- /content -->
<div data-role="popup" id="settingsSaveAllDataErfolg" data-theme='b' data-overlay-theme='a'>
	<p>Die Daten wurden erfolgreich übertragen.<p>
</div>
<div data-role="popup" id="settingsSaveAllDataFehler" data-theme='b' data-overlay-theme='a'>
	<p>Beim Übertragen der Daten ist ein Fehler aufgetreten.<p>
</div>
<div data-theme='a' data-role='footer' data-position='fixed'>
	<div data-role='navbar' data-iconpos='left'>
		<ul>
			<li><a href='#home' data-icon='home' >home</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
