<div data-role='fieldcontain' data-theme='a' class='slider1-7'>
	<label for='<%= kodierung %>'>
		<div class='frage'><%= txt %></div>
		<% if (lTxt != null) { print("<div class='linkeBeschriftung'>"+lTxt+"</div>"); } %>
		<% if (mTxt != null) { print("<div class='mittlereBeschriftung'>"+mTxt+"</div>"); } %>
		<% if (rTxt != null) { print("<div class='rechteBeschriftung'>"+rTxt+"</div>"); } %>
		<div style='float:none; clear:both'></div>
	</label>
	<input data-type='range' name='<%= kodierung %>' id='<%= kodierung %>'
		value='<% print((ant == null) ? 0 : ant) %>'
		min='1' max='7' data-highlight='true' data-theme='a'/>
</div>
