<div class="ui-field-contain" data-theme='a' class='slider1-100'>
	<label for='<% kodierung %>'>
		<div class='frage'><%= txt %></div>
		<%
if (lTxt != null) { print("<div class='linkeBeschriftung'>"+lTxt+"</div>"); }
if (rTxt != null) { print("<div class='rechteBeschriftung'>"+rTxt+"</div>"); }
if (mTxt != null) { print("<div class='mittlereBeschriftung'>"+rTxt+"</div>"); }
%>
		<div style='float:none; clear:both'></div>
	</label>
	<input data-type='range' name='<%= kodierung %>' id='<%= kodierung %>'
		value='<% print((ant == null) ? 0 : ant) %>'
		min='1' max='100' data-highlight='true' data-theme='a'/>
</div>
