.frage {
}
.linkeBeschriftung {
	position:relative;
	float:left;
	font-size:smaller;
}
.rechteBeschriftung {
	position:relative;
	float:right;
	font-size:smaller;
}
.heading {
	padding-bottom:1em;
}
.Nachricht{
	padding:1em;
	font-size:larger;
}
.erkl {
	margin:0;
	padding:0;
	position:relative;
	float:right;
	text-align:center;
	font-size:smaller;
}
.erkl span {
	display:inline-block;
	width:19%;
}
