.frage {
}
.linkeBeschriftung {
	position:relative;
	float:left;
	font-size:smaller;
	max-width:50%;
}
.mittlereBeschriftung{
	font-size:smaller;
	text-align:center;
}
.rechteBeschriftung {
	position:relative;
	float:right;
	font-size:smaller;
	max-width:50%;
	text-align:right;
}
.heading {
	padding-bottom:1em;
}
.Nachricht{
	padding:1em;
	font-size:larger;
}
.erkl {
	margin:0;
	padding:0;
	position:relative;
	float:right;
	text-align:center;
	font-size:smaller;
}
.erkl span {
	display:inline-block;
	width:19%;
}

/* Smileys */
div.smiley5fc {}
div.smiley5btn {
	background-repeat:no-repeat;
	background-position:left;
	min-height:29px;
}
div.smiley5btn label {
	min-width:22px;
}
div.smiley7fc {}
div.smiley7btn {
	background-repeat:no-repeat;
	background-position:left;
	min-height:18px;
}
div.smiley7btn label {
	min-width:8px;
}

/* Ja/Nein - Buttons */
div.JaNein div {
	min-width:30%
}

/**/
div.flipswitch-selectedOnce {
	background-color:#38c !important;
}

/* während der Arbeit*/
div.ui-content {
	min-height:441px !important;
}
/* "Unterbrechung" und "echte Pause" - Knopf höher */
#ww1 {
	padding: 30% inherit;
}
#ww2 {
	padding: 15% inherit;
}
#wN {
	padding: 10% inherit;
}
#w1q {
	padding: 45% inherit;
}
#w1w {
	padding: 10% inherit;
}
#w2e {
	padding: 45% inherit;
}
#w2w {
	padding: 10% inherit;
}
